/* You can add global styles to this file, and also import other style files */
/*body {
    background: #ad5389;  
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
    background: linear-gradient(to right, #3c1053, #ad5389); 
}*/

@import '~ngx-toastr/toastr';

body {
    /* background-image: url('./assets/fondo.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./assets/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
